<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso para usar la cámara -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="ProtectedPermissions" /> <!-- Declarar que se requiere la cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Camara"
        tools:targetApi="31">
        <activity
            android:name=".VerRegistrosActivity"
            android:exported="false" />
        <!-- Actividad para ver las fotos recientes -->
        <activity
            android:name=".FotosRecientesActivity"
            android:exported="false" /> <!-- Actividad para capturar fotos -->
        <activity
            android:name=".FotoActivity"
            android:exported="false" /> <!-- Actividad para escanear códigos -->
        <activity
            android:name=".LectorActivity"
            android:exported="false" /> <!-- Actividad principal que lanza la app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>