<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permiso para enviar notificaciones (solo Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notificaciones">

        <!-- Declaración de MainActivity con android:exported -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de ResultadoActivity -->
        <activity android:name=".ResultadoActivity" android:exported="false" />

        <!-- Declaración de AsesoramientoActivity -->
        <activity android:name=".AsesoramientoActivity" android:exported="false" />

    </application>

</manifest>
